body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background: url('https://raw.githubusercontent.com/Benjamin-KY/Benjamin-KY.github.io/main/futuristic-banner.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0;
}

nav ul {
    list-style: none;
    background: #333;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-weight: bold;
}

section {
    margin-bottom: 20px;
}

.project {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    background: url('https://raw.githubusercontent.com/Benjamin-KY/Benjamin-KY.github.io/main/futuristic-banner.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 40px 0; /* Adjust the padding to fit your banner size */
    margin-top: 20px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
    }
    
}
#dark-mode-toggle {
    margin-bottom: 20px; /* Adjust the value as needed */
}
/* Light Mode styles */
body {
    background-color: #f0f0f0; /* Light grey background for body */
    color: #333; /* Dark text for body */
}

nav ul {
    background: #e0e0e0; /* Lighter grey background for nav */
}

nav ul li a {
    color: #333; /* Dark text for nav links */
}

footer {
    background: #c0c0c0; /* Light grey background for footer */
    color: #333; /* Dark text for footer */
}

/* Dark Mode styles */
.dark-mode {
    background-color: #3a3a3a; /* Dark grey background for body */
    color: #f0f0f0; /* Light text for body */
}

.dark-mode nav ul {
    background: #4a4a4a; /* Darker grey background for nav */
}

.dark-mode nav ul li a {
    color: #f0f0f0; /* Light text for nav links */
}

.dark-mode footer {
    background: #2a2a2a; /* Darkest grey background for footer */
    color: #f0f0f0; /* Light text for footer */
}