body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background: url('https://raw.githubusercontent.com/Benjamin-KY/Benjamin-KY.github.io/main/futuristic-banner.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 0;
}

nav ul {
    list-style: none;
    background: #333;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-weight: bold;
}

section {
    margin-bottom: 20px;
}

.project {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    background: url('https://raw.githubusercontent.com/Benjamin-KY/Benjamin-KY.github.io/main/futuristic-banner.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 40px 0; /* Adjust the padding to fit your banner size */
    margin-top: 20px;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
    }
    
}
/* Dark Mode styles */
.dark-mode {
    background-color: #333; /* Dark background for body */
    color: #fff; /* Light text for body */
}

.dark-mode nav ul {
    background: #555; /* Darker background for nav */
}

.dark-mode nav ul li a {
    color: #ddd; /* Lighter text for nav links */
}

.dark-mode footer {
    background: #222; /* Dark background for footer */
    color: #fff; /* Light text for footer */
}